# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Node
node_modules/

# Reports
hunt-engine/reports/
hunt-engine/output/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Archives
*.tar.gz
*.zip

# Local git repositories
**/.git
# Third-party playbooks
hunt-engine/playbooks/atomic-red-team/
hunt-engine/playbooks/attack-flow/
hunt-engine/playbooks/cti/
hunt-engine/playbooks/codebyharri-playbooks/
