OPENSEARCH_HOST=127.0.0.1
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_PASS=CHANGE_ME

WAZUH_API_URL=https://127.0.0.1:55000
WAZUH_API_USER=wazuh-wui
WAZUH_API_PASS=CHANGE_ME

HUNT_ENGINE_HOST=0.0.0.0
HUNT_ENGINE_PORT=8089

DEFAULT_TIME_FROM=now-120d
DEFAULT_TIME_TO=now
DEFAULT_MIN_LEVEL=12
DEFAULT_SEED_SIZE=30
DEFAULT_PIVOT_MINUTES=30
